@page
@model Mnom_Mnom.Models.Login

<h2>Вход на сайт</h2>

<a asp-page="/Accounts/Register" asp-controller="Account" method="get">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="UserKey">Введите Email или номер телефона</label>
            <input type="text" asp-for="UserKey" />
            <span asp-validation-for="UserKey" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>