@page
@model Mnom_Mnom.Pages.Account.RegisterModel

<h2>Регистрация</h2>

<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Register.Name">Введите Ваше имя</label><br />
            <input type="text" asp-for="Register.Name" />
            <span asp-validation-for="Register.Name" />
        </div>
        <div>
            <label asp-for="Register.Email">Введите Email</label><br />
            <input type="text" asp-for="Register.Email" />
            <span asp-validation-for="Register.Email" />
        </div>
        <div>
            <label asp-for="Register.TelNumber">Введите номер мобильного телефона</label><br />
            <input asp-for="Register.TelNumber" />
            <span asp-validation-for="Register.TelNumber" />
        </div>
        <div>
            <label asp-for="Register.Password">Введите пароль</label><br />
            <input asp-for="Register.Password" />
            <span asp-validation-for="Register.Password" />
        </div>
        <div>
            <label asp-for="Register.ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="Register.ConfirmPassword" />
            <span asp-validation-for="Register.ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>

